[submodule "Test iPhone App/Externals/AFNetworking"]
	path = Test iPhone App/Externals/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Test iPhone App/Externals/JSONKit"]
	path = Test iPhone App/Externals/JSONKit
	url = https://github.com/johnezang/JSONKit.git
